body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bs-primary-rgb: 121, 204, 239; /* Фиолетовый цвет в формате RGB */
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #79D2EF;
  --bs-btn-border-color: #79D2EF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #244289; /* темно-фиолетовый */
  --bs-btn-hover-border-color: #244289; /* темно-фиолетовый */
  --bs-btn-focus-shadow-rgb: 128,0,128; /* фиолетовый */
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #244289; /* темно-фиолетовый */
  --bs-btn-active-border-color: #244289; /* темно-фиолетовый */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #79D2EF; /* фиолетовый */
  --bs-btn-disabled-border-color: #79D2EF; /* фиолетовый */
}